@font-face {
    font-family: 'Comfortaa-VariableFont_wght';
    src: url('font/Comfortaa-VariableFont_wght.ttf') format("truetype");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa-VariableFont_wght';
}
body{
    font-family: 'Comfortaa-VariableFont_wght';
    background-image: url(img/dotted.svg);
    color: #242324;
}
body .top h1{
    margin: 2vw 8vw;
    font-size: 20px;
}
body .info{
    display: flex;
    justify-content: center;
    align-content: center;
}
body .info .contain {
    margin: 10vh;
}
body .info .contain img{
    height: 98px;
    width: 98px;
}
body .info .contain p{
    margin-top: 30px;
    font-weight: bold;
    font-size: 32px;
    width: 50vw;
    line-height: 161%;
}
body .info .contain p span{
    color: #4FB08D;
    
}
body .info .contain .rs{
    display: flex;
    margin-top: 30px;
    
}
body .info .contain .rs a{
    margin: 5px;
    padding: 5px;
    height: 44px;
    width: 44px;
}
body .info .contain .rs a:hover path{
    stroke: #4FB08D;
}
@media only screen and (max-width: 800px) {
    body .info .contain p {
        width: 80vw;
        
    font-size: 28px;
    }
  }